extends ../layout/header

block content
  div
    h2="Crear nueva etiqueta"
    form(
        method="POST",
        action="/create"
      )
        input(
          name="name",
          placeholder="Nombre del perfume"
          minlength=2
          required=true
        )
        span.error=error
        button(
          type="submit"
        )="Crear"
  div.inline
    h2="Perfumes disponibles:"
    i="Max 45 etiquetas por página (se pueden crear varias páginas)"
    div.mb-1
      i="5 por fila"
    div
      i="Se han seleccionado "
      i#count=0
      i=" etiquetas"
    form(
      method="POST",
      action="/preview"
    )
      button(
        type="submit"
      )="Aceptar"
      each x in etiquetas
        div
          input.tag-amount(
            id=x,
            name=x
            type='number',
            min=0,
            max=100,
            value=0,
            data-label=`${x}-label`
          )
          label(
            for=x,
            id=`${x}-label`
          )=x

block scripts
  script(
    type="text/javascript",
    src="js/index.js"
  )