extends ../layout/header

block content
  div.inline
    h2="Perfumes disponibles:"
    i="Max 123 etiqutas por página"
    div
      i="Se han seleccionado "
      i#count=0
      i=" etiquetas"
    form(
      method="POST",
      action="/preview"
    )
      button(
        type="submit"
      )="Aceptar"
      each x in etiquetas
        div
          label.tag-amount(
            for=x.path,
            id=`${x.path}-label`
          )=x.name
          input.tag-amount(
            id=x.path,
            name=`${x.path}-amount`
            type='number',
            min=0,
            max=100,
            value=0,
            data-label=`${x.path}-label`
          )

block scripts
  script(
    type="text/javascript",
    src="js/index.js"
  )